<div class="text-white">
    {% if cart.item_count > 0 %}

        <p class="ta-center">{{ 'cart.filled.title' | t }}</p>
        <form action="/cart" method="post" novalidate>
            <div class="cart-lines">
                {% for item in cart.items %}
                    {% assign current_line_index = forloop.index %}
                    {% render 'line-item', item: item, line_index: current_line_index %}
                {% endfor %}

            </div>
            <div class="subtotal-line flex-space-between">
                <p>{{ 'cart.filled.subtotal' | t }}</p>
                <span class="price">{{ cart.total_price | money }}</span>
            </div>
            <button type="submit" name="checkout">{{ 'cart.filled.button' | t }}</button>
        </form>

    {% else %}
        <p class="cart-empty-text ta-center">{{ 'cart.empty.title' | t }}</p>
        <a href="{{ routes.root_url }}" class="button js-keep-shopping">{{ 'cart.empty.button' | t }}</a>
    {% endif %}
</div>
